.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Last footer css */
.Footer{
  height: 36vw;
  width:200vh;
  margin-top: 0px;
  background-color:#685a3f;
}

.Footer-top-links {
  display: flex; 
  justify-content: flex-end; 
}
.footer-social-wrapper {
  display: flex;
  gap: 10px;
  padding: 30px ;
  justify-content: space-between;
  margin-right: 25vh;

}
.footer-social-wrapper a{
color: white;
justify-content: space-between;
}
.footer-social-wrapper a:hover{ 
color: rgb(90, 90, 212);
}

.Hero-footer{
  height: 36vw;
  width: 80wh;
  margin-top: 0px;
  background-color: #262B40;
}

.Footer-left{
  display:flex;
  color: white;
  flex-direction: column;
  text-align: left;
  padding:0 4vw;
}
.hero11-footer{
  color: white;
  gap:0px;
  text-align: left;
  padding:0 4vw;
  display: flex;
  gap: 10vw;
  /* border: 2px solid white; */

}
.footer-content {
  color: white;
  flex-direction: column;
  gap:0px;
  text-align: left;
  padding:0 4vw;
  /* border: 2px solid white; */

}
.footer-middle{
  /* border: 2px solid white; */
  width: 20vw;
  text-align: left;
  color: white;
}
.footer-div{
  display: flex;
  justify-content: space-between;

}
.footer-rigth{
  /* border: 2px solid white; */
  width: 30vw;
}
.footer-rigth p{
  color: white;
  text-align: left;
}
.does{
  background-color: black;
  display: flex;
  justify-content: space-between;
  width: 17.6vw;
}
.subcribe-btn{
  height: 30px;
  background-color: orange;
  border: none;
  outline: none;
}
.subscribe-input{
  border-radius: 0px 0px;
  border: none;
  outline: none;
  
}
.copy-rigth{
  /* border:1px solid white; */
  text-align: left;
  color: white;
  padding: 10vh 80vh;
}
.written{
  display: flex;
  justify-content: space-between;
  color: white;
  /* border:2px solid red; */

}

